div.configContainer {
  min-width: 627px; }

div.inline-line {
  display: inline-block;
  vertical-align: top; }

div.picConfigTabContents {
  background: -moz-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(18%, white), color-stop(76%, white), color-stop(85%, #f9f9f9), color-stop(100%, #f0f0f0));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* ie10+ */
  background: linear-gradient(1deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DEDEDE', endColorstr='#F0F0F0',GradientType=0 );
  /* ie6-9 */ }

div.picOptionField, div.picOptionDropdown, div.picOptionCheckbox {
  display: inline-block;
  line-height: 1.4rem; }

div.picOptionLine > div {
  margin-right: .5rem; }

div.picOptionLine {
  padding-bottom: 2px; }

div.picOptionField > label,
div.picOptionDropdown > label {
  padding-right: .25rem;
  margin-left: .4rem; }

div.cfgGeneralDate > div.picAccordian-contents > div.picOptionLine > div:nth-child(1) > div.picPickList > label,
div.cfgGeneralPersonal > div.picAccordian-contents > div.picOptionLine > div:nth-child(1) > div.picPickList > label,
div.cfgGeneralPersonal > div.picAccordian-contents > div.picOptionLine > div:nth-child(1) > div.picInputField > label {
  display: inline-block;
  width: 5.5rem; }

div.picOptionField[data-bind$="owner.name"] > div > label,
div.picOptionField[data-bind$=email] > div > label,
div.picOptionField[data-bind$=email2] > div > label {
  display: inline-block;
  width: 4.25rem; }

div.picCircuitsList {
  display: inline-block; }

div.picCircuitsList, div.picCircuitsList-list, div.picCircuitsList-btnPanel {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  border-collapse: collapse; }

div.picCircuitsList-list {
  border-left: solid 3px gainsboro; }

div.picCircuitOption {
  text-align: left;
  margin-top: 1px;
  margin-bottom: 1px; }

div.picCircuitOption i.picRemoveOption {
  cursor: pointer;
  margin-left: .15rem; }

div.picCircuitOption i.picRemoveOption:hover {
  color: orange;
  text-shadow: 3px 3px 16px #272634; }

div.pnl-scheduleDays div.table {
  display: table; }

div.pnl-scheduleDays div.table-body {
  display: table-row-group; }

div.pnl-scheduleDays div.table-row {
  display: table-row; }

div.pnl-scheduleDays div.table-cell {
  display: table-cell; }

div.pnl-scheduleDays > div.table {
  border-collapse: collapse;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: inline-block;
  margin: 0px auto; }

div.pnl-scheduleDays div.table-row.dayheader {
  background: #fde4be;
  background: -webkit-linear-gradient(-90deg, #fde4be 0%, #E78F08 65%);
  background: linear-gradient(180deg, #fde4be 0%, #E78F08 65%);
  color: black;
  font-weight: bold; }

div.pnl-scheduleDays div.table-caption {
  display: table-caption;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: solid 1px gray;
  text-align: center;
  background: #f6f8f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
  /* IE6-9 */ }

div.pnl-scheduleDays div.table-row.dayheader {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

div.pnl-scheduleDays div.table-cell.dayheader {
  text-align: center;
  border: solid 1px gray;
  width: 2.4rem;
  font-weight: bold;
  color: white; }

div.pnl-scheduleDays div.table-cell.day {
  text-align: center;
  font-size: 2rem;
  border: solid 1px gainsboro;
  cursor: pointer; }

div.pnl-scheduleDays div.table-cell.day:hover {
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#ffaf4b, EndColorStr=#ff920a);
  background-image: -ms-linear-gradient(top, #ffaf4b, #ff920a);
  background-image: -moz-linear-gradient(top, #ffaf4b, #ff920a);
  background-image: -webkit-linear-gradient(top, #ffaf4b, #ff920a);
  background-image: linear-gradient(top, #ffaf4b, #ff920a); }

div.pnl-scheduleDays div.table-cell.day:not(.disabled):active {
  color: white;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#FF159FCF, EndColorStr=#FF13647F);
  background-image: -ms-linear-gradient(top, #159FCF, #13647F);
  background-image: -moz-linear-gradient(top, #159FCF, #13647F);
  background-image: -webkit-linear-gradient(top, #159FCF, #13647F);
  background-image: linear-gradient(top, #159FCF, #13647F); }
