div.picConfigTabContents {
  background: -moz-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(18%, white), color-stop(76%, white), color-stop(85%, #f9f9f9), color-stop(100%, #f0f0f0));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* ie10+ */
  background: linear-gradient(1deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DEDEDE', endColorstr='#F0F0F0',GradientType=0 );
  /* ie6-9 */ }

div.picOptionField, div.picOptionDropdown {
  display: inline-block; }

div.picOptionField > label,
div.picOptionDropdown > label {
  padding-right: .25rem;
  margin-left: .4rem; }

div.picConfigGeneral > div.picOptionLine > div.picOptionField:nth-child(1) > label {
  display: inline-block;
  width: 4.5rem; }

div.picOptionField[data-bind$=email] > label,
div.picOptionField[data-bind$=email2] > label {
  display: inline-block;
  width: 4.25rem; }
