html {
    width:100%;
    height:100%;
    margin:0px;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url(images/waterdropbackground.jpg);
}
div.dashOuter {
    width: 100%;
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    grid-auto-rows:auto;
    grid-row-gap:0px;
}
div.dashContainer {
    display: inline-grid;
    grid-template-columns: 377px 377px;
}
.header {
    display:block;
    opacity:1;
    grid-area:header;
    background-color:#ffd800;
    border:solid 1px green;
}
@import 'controller.scss';