html {
    width:100%;
    height:100%;
    margin:0px;
    box-sizing:border-box;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url(images/waterdropbackground.jpg);
    box-sizing: border-box;
}
div.mmgrOuter {
    width: 100%;
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    grid-auto-rows: auto;
    grid-row-gap: 0px;
}

div.messageContainer {
    display: inline-grid;
    grid-template-columns: 787px 447px;
}
.header {
    display:block;
    opacity:1;
    grid-area:header;
    background-color:#ffd800;
    border:solid 1px green;
}
span.picPercentData {
    padding-left:2px;
    padding-right:2px;
}
div.picIconRight {
    display:inline-block;
    float:right;
}
table.msgList-container {
    width: 100%;
    height: 100%;
    position: relative;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0px;
    box-sizing: border-box;
}
table.msgList-container > tbody > tr > td {
    padding:0px;
}
tr.msgList-body {
    height:100%;
}
div.msgList-body {
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
div.msgList-body-content {
    position:absolute;
    width:100%;
    height:100%;
    overflow-y:auto;
    overflow-x:hidden;
}
table.msgList-header {
    box-sizing: border-box;
    font-size: 8pt;
    color: white;
    font-weight: bold;
    width: 100%;
    table-layout: auto;
    border-spacing: 0px;
    border-collapse: collapse;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#FF159FCF, EndColorStr=#FF13647F);
    background-image: -ms-linear-gradient(top, #159FCF, #13647F);
    background-image: -moz-linear-gradient(top, #159FCF, #13647F);
    background-image: -webkit-linear-gradient(top, #159FCF, #13647F);
    background-image: linear-gradient(top, #159FCF, #13647F);
}
table.msgList-body {
    box-sizing: border-box;
    font-size: 8pt;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing:0px;
    background-color:white;
}
table.msgList-body > tbody > tr > td > span {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    display:inline-block;
    margin:0px;
}
table.msgList-body > tbody > tr > td:last-child {
    width:100%;
}
table.msgList-body > tbody > tr > td:last-child > span {
    width: 470px;
}

table.msgList-header > tbody > tr > td:last-child {
    text-align: center;
}
table.msgList-body > tbody > tr > td:nth-child(1) > span,
table.msgList-header > tbody > tr > td:nth-child(1),
table.msgList-body > tbody > tr > td:nth-child(2) > span,
table.msgList-header > tbody > tr > td:nth-child(2) {
    width: 16px;
}
table.msgList-body > tbody > tr > td:nth-child(1) {
    cursor:pointer;
    text-align:center;
}
table.msgList-body > tbody > tr > td:nth-child(3) > span,
table.msgList-header > tbody > tr > td:nth-child(3) {
    width: 57px;
}
table.msgList-body > tbody > tr > td:nth-child(4) > span,
table.msgList-header > tbody > tr > td:nth-child(4) {
    width: 57px;
}
table.msgList-body > tbody > tr > td:nth-child(5) > span,
table.msgList-header > tbody > tr > td:nth-child(5) {
    width: 57px;
}
table.msgList-body > tbody > tr > td:nth-child(6) > span,
table.msgList-header > tbody > tr > td:nth-child(6) {
    width: 70px;
}
tr.msgRow > td {
    border: solid 1px gray;
    padding:0px;
}
tr.msgRow > td > span {
    padding-left:2px;
    padding-right:2px;
}

tr.msgRow:nth-child(2n+1) {
    background-color: aliceblue;
}
div.mmgrButton {
    display: inline-block;
    cursor: pointer;
    margin-left: .5rem;
}
div.mmgrButton.selected {
    color: deeppink;
}

div.mmgrButton:hover {
    color: orange;
    text-shadow: 3px 3px 16px #272634;
}
table.msgList-body.changesOnly > tbody > tr.msgRow.nochange {
    display:none;
}
tr.msgRow.selected {
    color: black;
    background: -webkit-linear-gradient(-90deg, white 0%, #AEBF76 65%);
    background: linear-gradient(180deg, white 0%, #AEBF76 65%);
}
tr.msgRow:hover {
    color: white;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#FF159FCF, EndColorStr=#FF13647F);
    background-image: -ms-linear-gradient(top, #159FCF, #13647F);
    background-image: -moz-linear-gradient(top, #159FCF, #13647F);
    background-image: -webkit-linear-gradient(top, #159FCF, #13647F);
    background-image: linear-gradient(top, #159FCF, #13647F);
}

tr.msgRow.invalid {
    background-color: red;
    color: yellow;
}
tr.msgRow.outbound i.fa-arrow-circle-left {
    color:deeppink;
}
tr.msgRow.inbound i.fa-arrow-circle-right {
    color: gray;
}


div.msg-detail-panel > div.dataline > label {
    display:inline-block;
    width: 74px;
    font-weight:bold;
}

div.dataline {
    font-size:8pt;
}

table.msg-payload {
    border-collapse: collapse;
    border-spacing:0px;
    font-size:8pt;
}
tr.msg-payload-header {
    color: white;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#FF159FCF, EndColorStr=#FF13647F);
    background-image: -ms-linear-gradient(top, #159FCF, #13647F);
    background-image: -moz-linear-gradient(top, #159FCF, #13647F);
    background-image: -webkit-linear-gradient(top, #159FCF, #13647F);
    background-image: linear-gradient(top, #159FCF, #13647F);
}
td.payload-byte.payload-change {
    color: yellow;
    background-color:cornflowerblue;
}
tr.msg-payload-header > td {
    border: solid 1px white;
    padding: 1px;
    text-align: center;
}
tr.msg-payload-decimal > td, tr.msg-payload-ascii > td, tr.msg-payload-hex > td {
    border:solid 1px gainsboro;
    padding:0px;
    text-align:center;
    min-width:21px;
    max-width:21px;
    overflow:hidden;
    box-sizing:border-box;
}

    @import 'controller.scss';