html {
  width: 100%;
  height: 100%;
  margin: 0px;
  box-sizing: border-box; }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-image: url(images/waterdropbackground.jpg);
  box-sizing: border-box; }

div.mmgrOuter {
  width: 100%;
  display: grid;
  justify-content: center;
  box-sizing: border-box;
  grid-auto-rows: auto;
  grid-row-gap: 0px; }

div.messageContainer {
  display: inline-grid;
  grid-template-columns: 800px 477px; }

.header {
  display: block;
  opacity: 1;
  grid-area: header;
  background-color: #ffd800;
  border: solid 1px green; }

span.picPercentData {
  padding-left: 2px;
  padding-right: 2px; }

table.msgList-container {
  width: 100%;
  height: 100%;
  position: relative;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0px;
  box-sizing: border-box; }

table.msgList-container > tbody > tr > td {
  padding: 0px; }

tr.msgList-body {
  height: 100%; }

div.msgList-body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

div.msgList-body-content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

table.msgList-header {
  box-sizing: border-box;
  font-size: 8pt;
  color: white;
  font-weight: bold;
  width: 100%;
  table-layout: auto;
  border-spacing: 0px;
  border-collapse: collapse;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#FF159FCF, EndColorStr=#FF13647F);
  background-image: -ms-linear-gradient(top, #159FCF, #13647F);
  background-image: -moz-linear-gradient(top, #159FCF, #13647F);
  background-image: -webkit-linear-gradient(top, #159FCF, #13647F);
  background-image: linear-gradient(top, #159FCF, #13647F); }

table.msgList-body {
  box-sizing: border-box;
  font-size: 8pt;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0px;
  background-color: white; }

table.msgList-body > tbody > tr > td > span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  margin: 0px; }

table.msgList-body > tbody > tr.msgRow.changed > td > span.changed {
  color: #6495ed; }

table.msgList-body > tbody > tr.msgRow.changed > td > span.new {
  color: mediumvioletred; }

table.msgList-body > tbody > tr > td:last-child {
  width: 100%; }

table.msgList-body > tbody > tr > td:last-child > span {
  width: 470px; }

table.msgList-header > tbody > tr > td:last-child {
  text-align: center; }

table.msgList-body > tbody > tr > td:nth-child(1) > span,
table.msgList-header > tbody > tr > td:nth-child(1),
table.msgList-body > tbody > tr > td:nth-child(2) > span,
table.msgList-header > tbody > tr > td:nth-child(2),
table.msgList-body > tbody > tr > td:nth-child(3) > span,
table.msgList-header > tbody > tr > td:nth-child(3) {
  width: 16px; }

table.msgList-body > tbody > tr > td:nth-child(1) {
  cursor: pointer;
  text-align: center; }

table.msgList-body > tbody > tr > td:nth-child(4) > span,
table.msgList-header > tbody > tr > td:nth-child(4) {
  width: 57px; }

table.msgList-body > tbody > tr > td:nth-child(5) > span,
table.msgList-header > tbody > tr > td:nth-child(5) {
  width: 57px; }

table.msgList-body > tbody > tr > td:nth-child(6) > span,
table.msgList-header > tbody > tr > td:nth-child(6) {
  width: 57px; }

table.msgList-body > tbody > tr > td:nth-child(7) > span,
table.msgList-header > tbody > tr > td:nth-child(7) {
  width: 70px; }

tr.msgRow > td {
  border: solid 1px gray;
  padding: 0px; }

tr.msgRow > td > span {
  padding-left: 2px;
  padding-right: 2px; }

tr.msgRow:nth-child(2n+1) {
  background-color: aliceblue; }

div.mmgrButton {
  display: inline-block;
  cursor: pointer;
  margin-left: .5rem; }

div.mmgrButton.selected {
  color: deeppink; }

div.queued-message.selected {
  color: black;
  background: -webkit-linear-gradient(-90deg, white 0%, #AEBF76 65%);
  background: linear-gradient(180deg, white 0%, #AEBF76 65%); }

div.mmgrButton:hover {
  color: orange;
  text-shadow: 3px 3px 16px #272634; }

table.msgList-body.changesOnly > tbody > tr.msgRow.nochange {
  display: none; }

tr.msgRow.selected {
  color: black;
  background: -webkit-linear-gradient(-90deg, white 0%, #AEBF76 65%);
  background: linear-gradient(180deg, white 0%, #AEBF76 65%); }

tr.msgRow:hover {
  color: white;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#FF159FCF, EndColorStr=#FF13647F);
  background-image: -ms-linear-gradient(top, #159FCF, #13647F);
  background-image: -moz-linear-gradient(top, #159FCF, #13647F);
  background-image: -webkit-linear-gradient(top, #159FCF, #13647F);
  background-image: linear-gradient(top, #159FCF, #13647F); }

tr.msgRow.invalid {
  background-color: red;
  color: yellow; }

tr.msgRow.outbound i.fa-arrow-circle-left {
  color: deeppink; }

tr.msgRow.inbound i.fa-arrow-circle-right {
  color: gray; }

div.queue-detail-panel > div.dataline > label,
div.msg-detail-panel > div.dataline > label {
  display: inline-block;
  width: 74px;
  font-weight: bold; }

div.dataline {
  font-size: 8pt; }

table.msg-payload {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 8pt; }

tr.msg-payload-header {
  color: white;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#FF159FCF, EndColorStr=#FF13647F);
  background-image: -ms-linear-gradient(top, #159FCF, #13647F);
  background-image: -moz-linear-gradient(top, #159FCF, #13647F);
  background-image: -webkit-linear-gradient(top, #159FCF, #13647F);
  background-image: linear-gradient(top, #159FCF, #13647F); }

td.payload-byte.payload-change {
  color: yellow;
  background-color: cornflowerblue; }

tr.msg-payload-header > td {
  border: solid 1px white;
  padding: 1px;
  text-align: center; }

tr.msg-payload-decimal > td, tr.msg-payload-ascii > td, tr.msg-payload-hex > td {
  border: solid 1px gainsboro;
  padding: 0px;
  text-align: center;
  min-width: 21px;
  max-width: 21px;
  overflow: hidden;
  box-sizing: border-box; }

table.queue-list-header {
  box-sizing: border-box;
  font-size: 8pt;
  color: white;
  font-weight: bold;
  width: 100%;
  table-layout: auto;
  border-spacing: 0px;
  border-collapse: collapse;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#FF159FCF, EndColorStr=#FF13647F);
  background-image: -ms-linear-gradient(top, #159FCF, #13647F);
  background-image: -moz-linear-gradient(top, #159FCF, #13647F);
  background-image: -webkit-linear-gradient(top, #159FCF, #13647F);
  background-image: linear-gradient(top, #159FCF, #13647F); }

table.queue-list-header > tbody > tr > td:nth-child(6),
table.queue-list-header > tbody > tr > td:nth-child(1) {
  width: 14px; }

table.queue-list-header > tbody > tr > td:nth-child(2) {
  width: 47px; }

table.queue-list-header > tbody > tr > td:nth-child(3) {
  text-align: center;
  width: 57px; }

table.queue-list-header > tbody > tr > td:nth-child(4) {
  text-align: center;
  width: 47px; }

table.queue-list-header > tbody > tr > td:nth-child(5) {
  text-align: center; }

table.queue-list-header > tbody > tr > td:nth-child(6) {
  width: 70px;
  text-align: center; }

div.queue-send-list {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%; }

div.queued-message {
  width: 100%;
  font-size: 8pt;
  white-space: nowrap;
  line-height: 12px; }

div.picSendMessageQueue.processing > div.picMessageListTitle > div.mmgrButton {
  display: none; }

div.picSendMessageQueue.processing div.picActionButton:not(.cancel-button) {
  display: none; }

div.picSendMessageQueue:not(.processing) div.picActionButton.cancel-button {
  display: none; }

div.cancelButton {
  margin-right: 1.5rem;
  text-align: center; }

div.queued-message.sending {
  background: -webkit-linear-gradient(-90deg, white 0%, #AEBF76 65%);
  background: linear-gradient(180deg, white 0%, #AEBF76 65%); }

div.queued-message.sent {
  font-style: italic;
  color: dimgray; }

div.queued-message > div.mmgrButton {
  vertical-align: middle; }

div.queued-message-edit {
  margin-right: 2px;
  margin-left: 0px; }

div.queued-message-remove {
  margin-right: 0px;
  margin-left: 2px; }

div.queued-message > span {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: middle; }

span.queued-message-action,
span.queued-message-srcdest {
  text-align: center;
  width: 47px; }

span.queued-message-delay {
  text-align: center;
  width: 20px; }

span.queued-message-proto {
  width: 57px; }

span.queued-message-payload {
  width: 242px; }

div.edit-message-panel,
div.edit-message-protocol,
div.edit-message-payload {
  font-size: 10pt; }

div.edit-message-panel input[type=text],
div.edit-message-protocol input[type=text],
div.edit-message-payload input[type=text] {
  font-size: 10pt; }

div.picControllerTitle {
  display: table;
  width: 100%; }

input.picServerAddress {
  width: 10rem; }

input.picServerPort {
  width: 4rem; }

div.picOptionLine > label {
  width: 9rem;
  display: inline-block; }

div.picPanelMode,
div.picFreezeProtect {
  text-align: center;
  color: blue; }

div.picPanelMode[data-status=auto],
div.picFreezeProtect[data-status=off] {
  display: none; }

div.picModel > i {
  cursor: pointer;
  padding-right: .2rem; }

div.picModel > i:hover {
  cursor: pointer;
  padding-right: .2rem;
  color: orange; }

div.picPanelMode > label,
div.picFreezeProtect > label {
  font-weight: bold;
  color: red;
  font-size: 1.2rem;
  padding-left: .2rem;
  padding-right: .2rem; }

div.picControllerTitle > div {
  display: table-cell; }

div.picControllerTitle > div:nth-child(2) {
  text-align: center; }

div.picControllerTitle > div:nth-child(1) {
  width: 20%; }

div.picControllerTitle > div:nth-child(3) {
  width: 20%;
  text-align: right; }

div.picAppLogging > label,
div.picPacketLogging > label {
  min-width: 4rem;
  display: inline-block; }

div.picBS {
  color: purple; }

div.picFirmware {
  font-size: .8rem;
  display: inline-block;
  vertical-align: top; }

div.picFirmware > div.picOptionLine > label {
  width: 4.5rem; }

div.picFirmware > div.picOptionLine > span {
  display: inline-block;
  width: 2rem;
  text-align: right; }

div.picModules {
  display: inline-block;
  vertical-align: top;
  padding-left: 1em;
  padding-right: 1em;
  font-size: .8rem; }

div.picModules > table > tbody > tr > td:nth-child(1) {
  width: 70px;
  text-align: left; }

div.picModules > table > tbody > tr > td:nth-child(2) {
  width: 200px;
  text-align: left; }

div.picModules > table {
  border-collapse: collapse;
  box-sizing: border-box;
  border-spacing: 0px; }

div.picModules > table > tbody > tr:nth-child(1) {
  color: white;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#ffaf4b, EndColorStr=#ff920a);
  background-image: -ms-linear-gradient(top, #ffaf4b, #ff920a);
  background-image: -moz-linear-gradient(top, #ffaf4b, #ff920a);
  background-image: -webkit-linear-gradient(top, #ffaf4b, #ff920a);
  background-image: linear-gradient(top, #ffaf4b, #ff920a); }

div.picModules > table > tbody > tr:nth-child(n+2) {
  width: 100%;
  top: 0;
  margin: 0px;
  background-color: white; }

div.picModules > table > tbody > tr:nth-child(n+1) > td {
  border: solid 1px teal;
  padding-left: 4px;
  padding-right: 4px;
  border-collapse: collapse; }

div.picModules > table > tbody > tr:nth-child(1) > td {
  border: solid 1px black;
  padding-left: 4px;
  padding-right: 4px;
  border-collapse: collapse; }

div.picConfigIcon, div.picStartLogs {
  display: inline-block;
  cursor: pointer;
  margin-left: .5rem; }

div.picConfigIcon:hover, div.picStartLogs:hover {
  color: orange;
  text-shadow: 3px 3px 16px #272634; }

div.picOptionField > label {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden; }
