@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
div.picTab:not(.picTabSelected) {
  border-color: silver;
  color: silver;
}

div.picConfigTabContents {
  background-color: white;
}

div.picConfigPage {
  margin-top: 0.4rem;
}

div.picController {
  padding: 0px;
}

div.picFeatures {
  padding-bottom: 0.4rem;
}

div.picAmbientTemp label {
  color: white;
}

div.picController > div.picControllerTitle {
  margin: 0px;
}

div.pover-icon:hover {
  color: orange;
  text-shadow: 3px 3px 16px #272634;
}

div.picSaltReqd {
  padding: 0.2rem;
  border-bottom: solid 1px gainsboro;
  margin-bottom: 0.4rem;
}

div.picBody[data-ison=false] div.picBodyTemp {
  color: silver;
}

span.picUnits {
  color: gray;
}

div.picAccordian-title {
  border: solid 1px gray;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

div.pnl-scheduleDays > div.table {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

div.pnl-scheduleDays div.table-caption {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: solid 1px gray;
  color: white;
  background: #02969b;
  background: linear-gradient(180deg, #02969b 0%, #02969b 100%);
}

div.pnl-scheduleDays div.table-row.dayheader {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.pnl-scheduleDays div.table-cell.dayheader {
  text-align: center;
  width: 2.4rem;
  border: solid 1px gray;
  font-weight: bold;
  color: white;
}

div.pnl-scheduleDays div.table-row.dayheader {
  background: #fde4be;
  background: #fde4be;
  background: linear-gradient(180deg, #fde4be 0%, #E78F08 65%);
  color: black;
  font-weight: bold;
}

div.pnl-scheduleDays div.table-cell.day:hover {
  background: #4DB6AC;
}

div.pnl-scheduleDays div.table-cell.day:not(.disabled):active {
  color: white;
  background: #7b1fa2;
  background: linear-gradient(180deg, #7b1fa2 0%, #7b1fa2 100%);
}

div.pnl-scheduleDays div.table-cell.day {
  text-align: center;
  font-size: 2rem;
  border: solid 1px gainsboro;
  cursor: pointer;
}

div.pnl-scheduleDays div.table-cell.day {
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
}

div.pnl-scheduleDays div.table-cell.day[data-selected=true]:before {
  content: "";
  font-weight: 900;
}

div.pnl-scheduleDays div.table-cell.day:not([data-selected=true]):before {
  content: "";
  font-weight: 400;
}

body {
  font-family: Roboto;
  background-image: url("background.jpg");
}

select, input[type=text], fieldset {
  font-size: 1rem;
  border-radius: 3px;
}

.popover,
.control-panel {
  vertical-align: top;
  max-width: 22rem;
  display: inline-block;
  margin-top: 0.4rem;
  margin-right: 0.2rem;
  padding: 0.4em;
  border: solid 1px silver;
  border-radius: 3px;
  background: white;
  background: linear-gradient(0deg, white 0%, white 100%);
  box-shadow: 2px 2px 2px rgba(27, 27, 27, 0.4);
  -webkit-box-shadow: 2px 2px 2px rgba(27, 27, 27, 0.4);
  -moz-box-shadow: 2px 2px 2px rgba(27, 27, 27, 0.4);
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,color="gainsboro",strength=nth($thickness, 1));
}

.control-panel-title {
  white-space: nowrap;
  border-bottom: solid 1px gray;
  margin-left: -0.4rem;
  margin-right: -0.4rem;
  margin-top: -0.4rem;
  padding-top: 0.4rem;
  color: white;
  padding-left: 0.4rem;
  padding-right: 0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0.2rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #673ab7;
  background: linear-gradient(0deg, #673ab7 0%, #673ab7 100%);
  box-shadow: 2px 2px 5px rgba(27, 27, 27, 0.4);
  -webkit-box-shadow: 2px 2px 5px rgba(27, 27, 27, 0.4);
  -moz-box-shadow: 2px 2px 5px rgba(27, 27, 27, 0.4);
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,color="gainsboro",strength=nth($thickness, 1));
}

.body-text {
  font-family: Arial;
}

.fld-value {
  border: solid 1px gray;
  border-radius: 5px;
}

.fld-value-combo {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: solid 1px gray;
  background-color: white;
  color: black;
}

.fld-value-center {
  border-radius: 0px !important;
  border: solid 1px gray !important;
}

.btn-border {
  white-space: nowrap;
  border: solid 1px gray;
  border-radius: 3px;
  display: inline-block;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 0.2rem;
  padding-left: 0px;
  margin: 0.1rem;
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,color="gainsboro",strength=nth($thickness, 1));
}

.btn {
  white-space: nowrap;
  border: solid 1px gray;
  border-radius: 3px;
  display: inline-block;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 0.2rem;
  padding-left: 0px;
  margin: 0.1rem;
  color: white;
  background: #02969b;
  background: linear-gradient(180deg, #02969b 0%, #02969b 100%);
  box-shadow: 1px 1px 1px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(127, 127, 127, 0.5);
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,color="gainsboro",strength=nth($thickness, 1));
}

.btn-stateonly {
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,color="gainsboro",strength=nth($thickness, 1));
  background: white;
  background: linear-gradient(0deg, white 0%, white 100%);
  color: gray;
}

.btn-panel {
  padding: 0.2rem;
  margin-top: 0.2rem;
  text-align: right;
  border-top: solid 3px gainsboro;
}

.fld-btn-right {
  color: white;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: solid 1px gray;
  background: #02969b;
  background: linear-gradient(180deg, #02969b 0%, #02969b 100%);
}

.fld-btn-left {
  color: white;
  border-radius: 3px;
  border: solid 1px gray;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: #02969b;
  background: linear-gradient(180deg, #02969b 0%, #02969b 100%);
}

.btn-toggle:not([disabled]):not(.disabled):hover,
.fld-btn-left:not([disabled]):not(.disabled):hover,
.fld-btn-left:not([disabled]):not(.disabled).hover,
.fld-btn-right:not([disabled]):not(.disabled):hover,
.fld-btn-right:not([disabled]):not(.disabled).hover,
.btn-border:not([disabled]):not(.disabled):hover,
.btn-border:not([disabled]):not(.disabled).hover,
.btn:not([disabled]):not(.disabled):hover,
.btn:not([disabled]):not(.disabled).hover {
  color: white;
  background: #4DB6AC;
}

.btn-toggle:not([disabled]):not(.disabled):active,
.fld-btn-left:not([disabled]):not(.disabled):active,
.fld-btn-left:not([disabled]):not(.disabled).active,
.fld-btn-right:not([disabled]):not(.disabled):active,
.fld-btn-right:not([disabled]):not(.disabled).active,
.btn-border:not([disabled]):not(.disabled):active,
.btn-border:not([disabled]):not(.disabled).active,
.btn:not([disabled]):not(.disabled):active,
.btn:not([disabled]):not(.disabled).active {
  color: white;
  background: #7b1fa2;
  background: linear-gradient(180deg, #7b1fa2 0%, #7b1fa2 100%);
  opacity: 0.5;
}

.tab-contents {
  border: solid 1px silver;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tab-item {
  border: solid 1px silver;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: white;
}

.dropdown-panel {
  background-color: white;
  border: solid 1px silver;
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,color="gainsboro",strength=nth($thickness, 1));
  border-radius: 3px;
}

.header-background {
  color: white;
  background: #673ab7;
}

table.optOuter {
  border-radius: 3px;
  color: black;
}

tr.optHeader > td {
  border-bottom: solid 2px black;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

table.optBody > tbody > tr > td:last-child,
table.optHeader > tbody > tr > td:last-child {
  border: none;
}

table.optBody td,
table.optHeader td {
  border-right: solid 1px gray;
}

table.optBody > tbody > tr.selected {
  background: #a64dff;
  color: white;
}

table.optBody > tbody > tr:hover {
  background: #4DB6AC;
  color: white;
}

div.picIndicator {
  display: inline-block;
  border: solid 1px silver;
  background: white;
  vertical-align: text-top;
  border-radius: 25%;
}

div.picIndicator[data-status=on],
div.picIndicator[data-status=ready],
div.picIndicator[data-status=selected],
div.picIndicator[data-status=true] {
  background: radial-gradient(ellipse farthest-corner at center, #d2ff52 0%, #91e842 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
}

div.picIndicator[data-status=pending], div.piscIndicator[data-status=timeout] {
  background: radial-gradient(ellipse farthest-corner at center, #ffff1c 0%, #ccc949 85%, #c4c051 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
}

div.picIndicator[data-status=loading] {
  background: radial-gradient(ellipse farthest-corner at center, #ffaf4b 0%, #ff920a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
}

div.picIndicator[data-status=error] {
  background: radial-gradient(ellipse farthest-corner at center, #ffad29 0%, red 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
}

.btn-toggle.fld-btn-left {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: black;
  background: none;
}

.btn-toggle.fld-btn-right {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: black;
  background: none;
}

.btn-toggle.fld-btn-center {
  border: solid 1px black;
  color: black;
}

.btn-toggle[data-selected=true] {
  color: white;
  background: #7b1fa2;
  background: linear-gradient(180deg, #7b1fa2 0%, #7b1fa2 100%);
}/*# sourceMappingURL=theme.css.map */