@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
div.picTab:not(.picTabSelected) {
  border-color: silver;
  color: silver; }

div.picConfigTabContents {
  background-color: white; }

div.picConfigPage {
  margin-top: .4rem; }

div.picController {
  padding: 0px; }

div.picFeatures {
  padding-bottom: .4rem; }

div.picAmbientTemp label {
  color: white; }

div.picController > div.picControllerTitle {
  margin: 0px; }

div.pover-icon:hover {
  color: orange;
  text-shadow: 3px 3px 16px #272634; }

div.picSaltReqd {
  padding: .2rem;
  border-bottom: solid 1px gainsboro;
  margin-bottom: .4rem; }

div.picBody[data-ison=false] div.picBodyTemp {
  color: silver; }

span.picUnits {
  color: gray; }

div.picAccordian-title {
  border: solid 1px gray;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

div.pnl-scheduleDays > div.table {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

div.pnl-scheduleDays div.table-caption {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: solid 1px gray;
  color: white;
  background: #02969b;
  background: -webkit-linear-gradient(-90deg, #02969b 0%, #02969b 100%);
  background: linear-gradient(180deg, #02969b 0%, #02969b 100%); }

div.pnl-scheduleDays div.table-row.dayheader {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

div.pnl-scheduleDays div.table-cell.dayheader {
  text-align: center;
  width: 2.4rem;
  border: solid 1px gray;
  font-weight: bold;
  color: white; }

div.pnl-scheduleDays div.table-row.dayheader {
  background: #fde4be;
  background: #fde4be;
  background: -webkit-linear-gradient(-90deg, #fde4be 0%, #E78F08 65%);
  background: linear-gradient(180deg, #fde4be 0%, #E78F08 65%);
  color: black;
  font-weight: bold; }

div.pnl-scheduleDays div.table-cell.day:hover {
  background: #4DB6AC; }

div.pnl-scheduleDays div.table-cell.day:not(.disabled):active {
  color: white;
  background: #7b1fa2;
  background: -webkit-linear-gradient(-90deg, #7b1fa2 0%, #7b1fa2 100%);
  background: linear-gradient(180deg, #7b1fa2 0%, #7b1fa2 100%); }

div.pnl-scheduleDays div.table-cell.day {
  text-align: center;
  font-size: 2rem;
  border: solid 1px gainsboro;
  cursor: pointer; }

div.pnl-scheduleDays div.table-cell.day {
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  font-family: 'Font Awesome 5 Free'; }

div.pnl-scheduleDays div.table-cell.day[data-selected=true]:before {
  content: "\f057";
  font-weight: 900; }

div.pnl-scheduleDays div.table-cell.day:not([data-selected=true]):before {
  content: "\f111";
  font-weight: 400; }

.slist-caption,
.crud-caption,
.list-caption {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: solid 1px gray;
  color: white;
  background: #02969b;
  background: -webkit-linear-gradient(-90deg, #02969b 0%, #02969b 100%);
  background: linear-gradient(180deg, #02969b 0%, #02969b 100%); }

tr.slist-header,
tr.crud-header {
  text-align: center;
  width: 2.4rem;
  border: solid 1px gray;
  color: white;
  background: #fde4be;
  background: #fde4be;
  background: -webkit-linear-gradient(-90deg, #fde4be 0%, #E78F08 65%);
  background: linear-gradient(180deg, #fde4be 0%, #E78F08 65%);
  color: black; }
