@import '../mixins/gradients.scss';
@import 'colors.scss';

div.dashContainer {
    grid-template-columns: 377px calc(22.4rem + 4px);
}
div.picTab:not(.picTabSelected) {
    border-color:silver;
    color:silver;
}
div.picModules > table {
    background:white;
    color:black;
}
div.picModules > table > tbody > td:nth-child(1) {
    background: #701c7c !important;
}
div.picTab {
    @include panel_background();
    color:white;
}
div.picOptionButton {
    border-color:white;
}
div.picConfigTabContents {
    @include panel_background();
    color:white;
}
div.picConfigPage {
    margin-top:.4rem;
}
div.picController {
    padding:0px;
}
div.picFeatures {}
div.picAmbientTemp label {
    color:white;
}
div.picController > div.picControllerTitle {
    margin:0px;
}
div.pover-icon:hover {
    color: orange;
    text-shadow: 3px 3px 16px #272634;
}
div.picSaltReqd {
    padding: .2rem;
    border-bottom: solid 1px gainsboro;
    margin-bottom: .4rem;
}
div.picBody[data-ison=false] div.picBodyTemp {
    color: silver;
}
span.picUnits {
    color: silver;
}
div.picAccordian-title {
    border: solid 1px white;
    @include panel_header_background();
    border-top-left-radius: $border_radius;
    border-top-right-radius: $border_radius;
}
div.pnl-scheduleDays > div.table {
    margin-top:.4rem;
    border-top-left-radius: $border_radius;
    border-top-right-radius: $border_radius;
}
div.pnl-scheduleDays div.table-caption {
    border-top-left-radius: $border_radius;
    border-top-right-radius: $border_radius;
    border: solid 1px white;
    @include header_background();
    border-bottom: none;
}
div.pnl-scheduleDays div.table-row.dayheader {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div.pnl-scheduleDays div.table-cell.dayheader {
    text-align: center;
    width: 2.4rem;
    border: solid 1px white;
    font-weight: bold;
    color: white;
}
div.pnl-scheduleDays div.table-row.dayheader {
    background: #701c7c;
    color: black;
    font-weight: bold;
}
div.pnl-scheduleDays div.table-cell.day:hover {
    @include hover_background();
}

div.pnl-scheduleDays div.table-cell.day:not(.disabled):active {
    color: white;
    @include active_background();
}
div.pnl-scheduleDays div.table-cell.day {
    text-align: center;
    font-size: 2rem;
    border: solid 1px gainsboro;
    cursor: pointer;
}
div.pnl-scheduleDays div.table-cell.day {
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Font Awesome 5 Free';
    background-color:black;
}

div.pnl-scheduleDays div.table-cell.day[data-selected=true]:before {
    content: "\f057";
    font-weight: 900;
}

div.pnl-scheduleDays div.table-cell.day:not([data-selected=true]):before {
    content: "\f111";
    font-weight: 400;
}
div.picLightThemes {
    width:22rem;
}
table.picPumpPrograms,
table.picSchedDays {
}
table.picPumpPrograms > tbody > tr:nth-child(1),
table.picSchedDays > tbody > tr:nth-child(1) {
    background-color: #701c7c !important;
    background-image: none;
}
table.picPumpPrograms > tbody > tr:nth-child(1) > td,
table.picSchedDays > tbody > tr:nth-child(1) > td {
    border-top: solid 1px white;
}
table.picPumpPrograms > tbody > tr:nth-child(1) > td:nth-child(1)
table.picSchedDays > tbody > tr:nth-child(1) > td:nth-child(1) {
    border-left: solid 1px white;
}
table.picPumpPrograms > tbody > tr:nth-child(1) > td:last-child,
table.picSchedDays > tbody > tr:nth-child(1) > td:last-child {
    border-right: solid 1px white;
}
table.picPumpPrograms > tbody > tr:nth-child(2) > td,
table.picSchedDays > tbody > tr:nth-child(2) > td {
    border: solid 1px white;
    background-color: black;
}
div.overlay-message > div > div.pic-waiticon > div.wait-roller div:after {
    background: darkmagenta;
    transform: scale(1.3);
    box-shadow: 0px 0px 8px magenta;
}
div.overlay-message {
    border:solid 3px white;
    background:lightgray;
}
