body {
  font-family: Arial;
  background-image: url(../Images/WaterDropBackground.jpg); }

.popover,
.control-panel {
  vertical-align: top;
  /*max-width: 22rem;*/
  display: inline-block;
  margin-top: .4rem;
  margin-right: .2rem;
  padding: .4em;
  border: solid 1px gray;
  border-radius: 5px;
  background: -moz-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(18%, white), color-stop(76%, white), color-stop(85%, #f9f9f9), color-stop(100%, #f0f0f0));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* ie10+ */
  background: linear-gradient(1deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DEDEDE', endColorstr='#F0F0F0',GradientType=0 );
  /* ie6-9 */
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5); }

.control-panel-title {
  border-bottom: solid 3px orange;
  white-space: nowrap; }

.body-text {
  font-family: Arial; }

.fld-value {
  border: solid 1px gray;
  border-radius: 5px; }

.fld-value-combo {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: solid 1px gray; }

.btn-border {
  white-space: nowrap;
  border: solid 1px gray;
  border-radius: 5px;
  display: inline-block;
  padding-top: .4rem;
  padding-bottom: .4rem;
  padding-right: .2rem;
  padding-left: 0px;
  margin: .1rem;
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5); }

.btn {
  white-space: nowrap;
  border: solid 1px gray;
  border-radius: 5px;
  display: inline-block;
  padding-top: .4rem;
  padding-bottom: .4rem;
  padding-right: .2rem;
  padding-left: 0px;
  margin: .1rem;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5); }

.btn-stateonly {
  background: -moz-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(18%, white), color-stop(76%, white), color-stop(85%, #f9f9f9), color-stop(100%, #f0f0f0));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(89deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* ie10+ */
  background: linear-gradient(1deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DEDEDE', endColorstr='#F0F0F0',GradientType=0 );
  /* ie6-9 */
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5); }

.btn-panel {
  padding: .2rem;
  margin-top: .2rem;
  text-align: right;
  border-top: solid 3px gainsboro; }

.fld-btn-right {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: solid 1px gray;
  background: #f6f8f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
  /* IE6-9 */ }

.fld-btn-right:not([disabled]):not(.disabled):hover,
.fld-btn-right:not([disabled]):not(.disabled).hover,
.btn-border:not([disabled]):not(.disabled):hover,
.btn-border:not([disabled]):not(.disabled).hover,
.btn:not([disabled]):not(.disabled):hover,
.btn:not([disabled]):not(.disabled).hover {
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#ffaf4b, EndColorStr=#ff920a);
  background-image: -ms-linear-gradient(top, #ffaf4b, #ff920a);
  background-image: -moz-linear-gradient(top, #ffaf4b, #ff920a);
  background-image: -webkit-linear-gradient(top, #ffaf4b, #ff920a);
  background-image: linear-gradient(top, #ffaf4b, #ff920a); }

.fld-btn-right:not([disabled]):not(.disabled):active,
.fld-btn-right:not([disabled]):not(.disabled).active,
.btn-border:not([disabled]):not(.disabled):active,
.btn-border:not([disabled]):not(.disabled).active,
.btn:not([disabled]):not(.disabled):active,
.btn:not([disabled]):not(.disabled).active {
  color: white;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#FF159FCF, EndColorStr=#FF13647F);
  background-image: -ms-linear-gradient(top, #159FCF, #13647F);
  background-image: -moz-linear-gradient(top, #159FCF, #13647F);
  background-image: -webkit-linear-gradient(top, #159FCF, #13647F);
  background-image: linear-gradient(top, #159FCF, #13647F); }

.tab-contents {
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  border-top: solid 1px black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px; }

.tab-item {
  border: solid 1px black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: white; }

.dropdown-panel {
  border: solid 1px black;
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  border-radius: 5px;
  background-color: white;
  border-radius: 5px; }

.header-background {
  background: #f6f8f9;
  background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background: -webkit-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background: linear-gradient(to bottom, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); }

table.optOuter {
  border-radius: 5px; }

tr.optHeader > td {
  border-bottom: solid 2px black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

table.optBody > tbody > tr > td:last-child,
table.optHeader > tbody > tr > td:last-child {
  border: none; }

table.optBody td,
table.optHeader td {
  border-right: solid 1px gray; }

table.optBody > tbody > tr.selected {
  background-color: steelblue;
  color: white; }

table.optBody > tbody > tr:hover {
  background-color: lightsteelblue;
  color: white; }

div.picIndicator {
  display: inline-block;
  border: solid 1px gray;
  background: -moz-radial-gradient(center, ellipse cover, #dedede 45%, rgba(0, 33, 0, 0.2) 54%, black 100%);
  /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(45%, #dedede), color-stop(54%, rgba(0, 33, 0, 0.2)), color-stop(100%, black));
  /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, #dedede 45%, rgba(0, 33, 0, 0.2) 54%, black 100%);
  /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, #dedede 45%, rgba(0, 33, 0, 0.2) 54%, black 100%);
  /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, #dedede 45%, rgba(0, 33, 0, 0.2) 54%, black 100%);
  /* ie10+ */
  background: radial-gradient(ellipse at center, #dedede 45%, rgba(0, 33, 0, 0.2) 54%, black 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002100', endColorstr='#000000',GradientType=1 );
  /* ie6-9 */
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  border-radius: 50%; }

div.picIndicator[data-status=on],
div.picIndicator[data-status=ready],
div.picIndicator[data-status=selected],
div.picIndicator[data-status=true] {
  background: -moz-radial-gradient(center, ellipse cover, #00f000 0%, black 100%);
  /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #00f000), color-stop(100%, black));
  /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, #00f000 0%, black 100%);
  /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, #00f000 0%, black 100%);
  /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, #00f000 0%, black 100%);
  /* ie10+ */
  background: radial-gradient(ellipse at center, #00f000 0%, black 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00F000', endColorstr='#000000',GradientType=1 );
  /* ie6-9 */ }

div.picIndicator[data-status=pending], div.piscIndicator[data-status=timeout] {
  background: -moz-radial-gradient(center, ellipse cover, #ffff1c 0%, #ccc949 85%, #c4c051 100%);
  /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffff1c), color-stop(85%, #ccc949), color-stop(100%, #c4c051));
  /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, #ffff1c 0%, #ccc949 85%, #c4c051 100%);
  /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, #ffff1c 0%, #ccc949 85%, #c4c051 100%);
  /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, #ffff1c 0%, #ccc949 85%, #c4c051 100%);
  /* ie10+ */
  background: radial-gradient(ellipse at center, #ffff1c 0%, #ccc949 85%, #c4c051 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFF1C', endColorstr='#C4C051',GradientType=1 );
  /* ie6-9 */ }

div.picIndicator[data-status=loading] {
  background: -moz-radial-gradient(center, ellipse cover, #fcff54 0%, #ffb647 100%);
  /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fcff54), color-stop(100%, #ffb647));
  /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, #fcff54 0%, #ffb647 100%);
  /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, #fcff54 0%, #ffb647 100%);
  /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, #fcff54 0%, #ffb647 100%);
  /* ie10+ */
  background: radial-gradient(ellipse at center, #fcff54 0%, #ffb647 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCFF54', endColorstr='#FFB647',GradientType=1 );
  /* ie6-9 */ }

div.picIndicator[data-status=error] {
  background: -moz-radial-gradient(center, ellipse cover, #ffad29 0%, red 100%);
  /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffad29), color-stop(100%, red));
  /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, #ffad29 0%, red 100%);
  /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, #ffad29 0%, red 100%);
  /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, #ffad29 0%, red 100%);
  /* ie10+ */
  background: radial-gradient(ellipse at center, #ffad29 0%, red 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFAD29', endColorstr='#ff0000',GradientType=1 );
  /* ie6-9 */ }
