div.picConfigTabContents {
  background: #f0f0f0;
  background: -webkit-linear-gradient(90deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  background: linear-gradient(0deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%); }

div.picTab:not(.picTabSelected) {
  border-color: silver;
  color: slategray;
  text-shadow: 1px 1px 2px gainsboro; }

div.picTab.picTabSelected {
  font-weight: bold; }

div.pover-icon:hover {
  color: orange;
  text-shadow: 3px 3px 16px #272634; }

div.picSaltReqd {
  padding: .2rem;
  border-bottom: solid 1px gainsboro;
  margin-bottom: .4rem; }

div.picBody[data-ison=false] div.picBodyTemp {
  color: silver; }

span.picUnits {
  color: gray; }

div.picAccordian-title {
  border: solid 1px gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

div.pnl-scheduleDays > div.table {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

div.pnl-scheduleDays div.table-caption {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: solid 1px gray;
  background: #f6f8f9;
  background: -webkit-linear-gradient(-90deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background: linear-gradient(180deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); }

div.pnl-scheduleDays div.table-row.dayheader {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

div.pnl-scheduleDays div.table-cell.dayheader {
  text-align: center;
  width: 2.4rem;
  border: solid 1px gray;
  font-weight: bold;
  color: white; }

div.pnl-scheduleDays div.table-row.dayheader {
  background: #fde4be;
  background: #fde4be;
  background: -webkit-linear-gradient(-90deg, #fde4be 0%, #E78F08 65%);
  background: linear-gradient(180deg, #fde4be 0%, #E78F08 65%);
  color: black;
  font-weight: bold; }

div.pnl-scheduleDays div.table-cell.day:hover {
  background: #ffaf4b;
  background: -webkit-linear-gradient(-90deg, #ffaf4b, #ff920a);
  background: linear-gradient(180deg, #ffaf4b, #ff920a); }

.disabled {
  pointer-events: none;
  cursor: no-drop;
  opacity: .7; }

div.pnl-scheduleDays div.table-cell.day:not(.disabled):active {
  color: white;
  background: #159FCF;
  background: -webkit-linear-gradient(-90deg, #159FCF, #13647F);
  background: linear-gradient(180deg, #159FCF, #13647F); }

div.pnl-scheduleDays div.table-cell.day {
  text-align: center;
  font-size: 2rem;
  border: solid 1px gainsboro;
  cursor: pointer; }

div.pnl-scheduleDays div.table-cell.day {
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  font-family: 'Font Awesome 5 Free'; }

div.pnl-scheduleDays div.table-cell.day[data-selected=true]:before {
  content: "\f057";
  font-weight: 900; }

div.pnl-scheduleDays div.table-cell.day:not([data-selected=true]):before {
  content: "\f111";
  font-weight: 400; }

body {
  font-family: Arial;
  background-image: url(../Images/WaterDropBackground.jpg); }

select, input[type=text], fieldset {
  font-size: 1rem;
  border-radius: 4px; }

.popover,
.control-panel {
  vertical-align: top;
  /*max-width: 22rem;*/
  display: inline-block;
  margin-top: .4rem;
  margin-right: .2rem;
  padding: .4em;
  border: solid 1px gray;
  border-radius: 5px;
  background: #f0f0f0;
  background: -webkit-linear-gradient(90deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  background: linear-gradient(0deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.4);
  -webkit-box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.4);
  -moz-box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.4);
  filter: progid:DXImageTransform.Microsoft.Shadow direction=135, color="gainsboro", strength=5px; }

.control-panel-title {
  border-bottom: solid 3px orange;
  white-space: nowrap; }

.body-text {
  font-family: Arial; }

.fld-value {
  border: solid 1px gray;
  border-radius: 5px; }

.fld-value-combo {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: solid 1px gray; }

.fld-value-center {
  border-radius: 0px !important;
  border: solid 1px gray !important; }

.btn-border {
  white-space: nowrap;
  border: solid 1px gray;
  border-radius: 5px;
  display: inline-block;
  padding-top: .4rem;
  padding-bottom: .4rem;
  padding-right: .2rem;
  padding-left: 0px;
  margin: .1rem;
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  filter: progid:DXImageTransform.Microsoft.Shadow direction=135, color="gainsboro", strength=3px; }

.btn {
  white-space: nowrap;
  border: solid 1px gray;
  border-radius: 5px;
  display: inline-block;
  padding-top: .4rem;
  padding-bottom: .4rem;
  padding-right: .2rem;
  padding-left: 0px;
  margin: .1rem;
  background: #eeeeee;
  background: -webkit-linear-gradient(-90deg, #eeeeee 0%, #cccccc 100%);
  background: linear-gradient(180deg, #eeeeee 0%, #cccccc 100%);
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  filter: progid:DXImageTransform.Microsoft.Shadow direction=135, color="gainsboro", strength=3px; }

.btn-stateonly {
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  filter: progid:DXImageTransform.Microsoft.Shadow direction=135, color="gainsboro", strength=3px;
  background: #f0f0f0;
  background: -webkit-linear-gradient(90deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%);
  background: linear-gradient(0deg, #f0f0f0 0%, #f9f9f9 15%, white 24%, white 82%, #dedede 100%); }

.btn-panel {
  padding: .2rem;
  margin-top: .2rem;
  text-align: right;
  border-top: solid 3px gainsboro; }

.fld-btn-right {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: solid 1px gray;
  background: #f6f8f9;
  background: -webkit-linear-gradient(-90deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background: linear-gradient(180deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); }

.fld-btn-left {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border: solid 1px gray;
  background: #f6f8f9;
  background: -webkit-linear-gradient(-90deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background: linear-gradient(180deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); }

.btn-toggle:not([disabled]):not(.disabled):hover,
.fld-btn-left:not([disabled]):not(.disabled):hover,
.fld-btn-left:not([disabled]):not(.disabled).hover,
.fld-btn-right:not([disabled]):not(.disabled):hover,
.fld-btn-right:not([disabled]):not(.disabled).hover,
.btn-border:not([disabled]):not(.disabled):hover,
.btn-border:not([disabled]):not(.disabled).hover,
.btn:not([disabled]):not(.disabled):hover,
.btn:not([disabled]):not(.disabled).hover {
  background: #ffaf4b;
  background: -webkit-linear-gradient(-90deg, #ffaf4b, #ff920a);
  background: linear-gradient(180deg, #ffaf4b, #ff920a); }

.btn-toggle:not([disabled]):not(.disabled):active,
.btn:not([disabled]):not(.disabled):active,
.fld-btn-left:not([disabled]):not(.disabled):active,
.fld-btn-left:not([disabled]):not(.disabled).active,
.fld-btn-right:not([disabled]):not(.disabled):active,
.fld-btn-right:not([disabled]):not(.disabled).active,
.btn-border:not([disabled]):not(.disabled):active,
.btn-border:not([disabled]):not(.disabled).active,
.btn:not([disabled]):not(.disabled):active,
.btn:not([disabled]):not(.disabled).active {
  color: white;
  background: #159FCF;
  background: -webkit-linear-gradient(-90deg, #159FCF, #13647F);
  background: linear-gradient(180deg, #159FCF, #13647F); }

.tab-contents {
  border: solid 1px gray;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px; }

.tab-item {
  border: solid 1px gray;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: white; }

.dropdown-panel {
  background-color: white;
  border: solid 1px gray;
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  filter: progid:DXImageTransform.Microsoft.Shadow direction=135, color="gainsboro", strength=3px;
  border-radius: 5px; }

.header-background {
  background: #f6f8f9;
  background: -webkit-linear-gradient(-90deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background: linear-gradient(180deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); }

table.optOuter {
  border-radius: 5px; }

tr.optHeader > td {
  border-bottom: solid 2px black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

table.optBody > tbody > tr > td:last-child,
table.optHeader > tbody > tr > td:last-child {
  border: none; }

table.optBody td,
table.optHeader td {
  border-right: solid 1px gray; }

table.optBody > tbody > tr.selected {
  background: #159FCF;
  background: -webkit-linear-gradient(-90deg, #159FCF, #13647F);
  background: linear-gradient(180deg, #159FCF, #13647F);
  color: white; }

table.optBody > tbody > tr:hover {
  background: #ffaf4b;
  background: -webkit-linear-gradient(-90deg, #ffaf4b, #ff920a);
  background: linear-gradient(180deg, #ffaf4b, #ff920a);
  color: white; }

div.picIndicator {
  display: inline-block;
  border: solid 1px gray;
  background: -moz-radial-gradient(center, ellipse cover, #dedede 45%, rgba(0, 33, 0, 0.2) 54%, black 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #dedede 45%, rgba(0, 33, 0, 0.2) 54%, black 100%);
  background: -o-radial-gradient(center, ellipse cover, #dedede 45%, rgba(0, 33, 0, 0.2) 54%, black 100%);
  background: -ms-radial-gradient(center, ellipse cover, #dedede 45%, rgba(0, 33, 0, 0.2) 54%, black 100%);
  background: radial-gradient(ellipse farthest-corner at center, #dedede 45%, rgba(0, 33, 0, 0.2) 54%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='nth(nth($color-stops, 1), 1)', endColorstr='nth(nth($color-stops, 2), 1)', GradientType=1);
  box-shadow: 2px 2px 2px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 2px 2px 2px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 2px 2px 2px rgba(127, 127, 127, 0.5);
  filter: progid:DXImageTransform.Microsoft.Shadow direction=135, color="gainsboro", strength=2px;
  vertical-align: text-top;
  border-radius: 50%; }

div.picIndicator[data-status=on],
div.picIndicator[data-status=ready],
div.picIndicator[data-status=selected],
div.picIndicator[data-status=true] {
  background: -moz-radial-gradient(center, ellipse cover, #00f000 0%, black 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #00f000 0%, black 100%);
  background: -o-radial-gradient(center, ellipse cover, #00f000 0%, black 100%);
  background: -ms-radial-gradient(center, ellipse cover, #00f000 0%, black 100%);
  background: radial-gradient(ellipse farthest-corner at center, #00f000 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='nth(nth($color-stops, 1), 1)', endColorstr='nth(nth($color-stops, 2), 1)', GradientType=1); }

div.picIndicator[data-status=pending], div.piscIndicator[data-status=timeout] {
  background: -moz-radial-gradient(center, ellipse cover, #ffff1c 0%, #ccc949 85%, #c4c051 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ffff1c 0%, #ccc949 85%, #c4c051 100%);
  background: -o-radial-gradient(center, ellipse cover, #ffff1c 0%, #ccc949 85%, #c4c051 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ffff1c 0%, #ccc949 85%, #c4c051 100%);
  background: radial-gradient(ellipse farthest-corner at center, #ffff1c 0%, #ccc949 85%, #c4c051 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='nth(nth($color-stops, 1), 1)', endColorstr='nth(nth($color-stops, 2), 1)', GradientType=1); }

div.picIndicator[data-status=loading] {
  background: -moz-radial-gradient(center, ellipse cover, #fcff54 0%, #ffb647 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #fcff54 0%, #ffb647 100%);
  background: -o-radial-gradient(center, ellipse cover, #fcff54 0%, #ffb647 100%);
  background: -ms-radial-gradient(center, ellipse cover, #fcff54 0%, #ffb647 100%);
  background: radial-gradient(ellipse farthest-corner at center, #fcff54 0%, #ffb647 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='nth(nth($color-stops, 1), 1)', endColorstr='nth(nth($color-stops, 2), 1)', GradientType=1); }

div.picIndicator[data-status=error] {
  background: -moz-radial-gradient(center, ellipse cover, #ffad29 0%, red 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ffad29 0%, red 100%);
  background: -o-radial-gradient(center, ellipse cover, #ffad29 0%, red 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ffad29 0%, red 100%);
  background: radial-gradient(ellipse farthest-corner at center, #ffad29 0%, red 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='nth(nth($color-stops, 1), 1)', endColorstr='nth(nth($color-stops, 2), 1)', GradientType=1); }

.btn-toggle.fld-btn-left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem; }

.btn-toggle.fld-btn-right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem; }

.btn-toggle.fld-btn-center {
  border: solid 1px gray;
  background: #f6f8f9;
  background: -webkit-linear-gradient(-90deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background: linear-gradient(180deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); }

.btn-toggle[data-selected="true"] {
  color: white;
  background: #159FCF;
  background: -webkit-linear-gradient(-90deg, #159FCF, #13647F);
  background: linear-gradient(180deg, #159FCF, #13647F); }
