div.picConfigTabContents {
  background: rgb(240, 240, 240);
  background: linear-gradient(0deg, rgb(240, 240, 240) 0%, rgb(249, 249, 249) 15%, rgb(255, 255, 255) 24%, rgb(255, 255, 255) 82%, rgb(222, 222, 222) 100%);
}

div.picTab:not(.picTabSelected) {
  border-color: silver;
  color: slategray;
  text-shadow: 1px 1px 2px gainsboro;
}

div.picTab.picTabSelected {
  font-weight: bold;
}

div.pover-icon:hover {
  color: orange;
  text-shadow: 3px 3px 16px #272634;
}

div.picSaltReqd {
  padding: 0.2rem;
  border-bottom: solid 1px gainsboro;
  margin-bottom: 0.4rem;
}

div.picBody[data-ison=false] div.picBodyTemp {
  color: silver;
}

span.picUnits {
  color: gray;
}

div.picAccordian-title {
  border: solid 1px gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.pnl-scheduleDays > div.table {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.pnl-scheduleDays div.table-caption {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: solid 1px gray;
  background: rgb(246, 248, 249);
  background: linear-gradient(180deg, rgb(246, 248, 249) 0%, rgb(229, 235, 238) 50%, rgb(215, 222, 227) 51%, rgb(245, 247, 249) 100%);
}

div.pnl-scheduleDays div.table-row.dayheader {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.pnl-scheduleDays div.table-cell.dayheader {
  text-align: center;
  width: 2.4rem;
  border: solid 1px gray;
  font-weight: bold;
  color: white;
}

div.pnl-scheduleDays div.table-row.dayheader {
  background: #fde4be;
  background: #fde4be;
  background: linear-gradient(180deg, #fde4be 0%, #E78F08 65%);
  color: black;
  font-weight: bold;
}

div.pnl-scheduleDays div.table-cell.day:hover {
  background: #ffaf4b;
  background: linear-gradient(180deg, #ffaf4b, #ff920a);
}

.disabled {
  pointer-events: none;
  cursor: no-drop;
  opacity: 0.7;
}

div.pnl-scheduleDays div.table-cell.day:not(.disabled):active {
  color: white;
  background: #159FCF;
  background: linear-gradient(180deg, #159FCF, #13647F);
}

div.pnl-scheduleDays div.table-cell.day {
  text-align: center;
  font-size: 2rem;
  border: solid 1px gainsboro;
  cursor: pointer;
}

div.pnl-scheduleDays div.table-cell.day {
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
}

div.pnl-scheduleDays div.table-cell.day[data-selected=true]:before {
  content: "\f057";
  font-weight: 900;
}

div.pnl-scheduleDays div.table-cell.day:not([data-selected=true]):before {
  content: "\f111";
  font-weight: 400;
}

.slist-caption,
.crud-caption,
.list-caption {
  background: #fde4be;
  background: linear-gradient(180deg, #fde4be 0%, #E78F08 65%);
}

tr.slist-header,
tr.crud-header {
  background: rgb(246, 248, 249);
  background: linear-gradient(180deg, rgb(246, 248, 249) 0%, rgb(229, 235, 238) 50%, rgb(215, 222, 227) 51%, rgb(245, 247, 249) 100%);
}

body {
  font-family: Arial;
  background-image: url(../Images/WaterDropBackground.jpg);
}

select, input[type=text], fieldset {
  font-size: 1rem;
  border-radius: 4px;
}

.popover,
.control-panel {
  vertical-align: top;
  display: inline-block;
  margin-top: 0.4rem;
  margin-right: 0.2rem;
  padding: 0.4em;
  border: solid 1px gray;
  border-radius: 5px;
  background: rgb(240, 240, 240);
  background: linear-gradient(0deg, rgb(240, 240, 240) 0%, rgb(249, 249, 249) 15%, rgb(255, 255, 255) 24%, rgb(255, 255, 255) 82%, rgb(222, 222, 222) 100%);
  box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.4);
  -webkit-box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.4);
  -moz-box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.4);
}

.control-panel-title {
  border-bottom: solid 3px orange;
  white-space: nowrap;
}

.body-text {
  font-family: Arial;
}

.fld-value {
  border: solid 1px gray;
  border-radius: 5px;
}

.fld-value-combo {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: solid 1px gray;
  background-color: white;
  color: black;
}

.fld-value-center {
  border-radius: 0px !important;
  border: solid 1px gray !important;
}

.btn-border {
  white-space: nowrap;
  border: solid 1px gray;
  border-radius: 5px;
  display: inline-block;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 0.2rem;
  padding-left: 0px;
  margin: 0.1rem;
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
}

.btn {
  white-space: nowrap;
  border: solid 1px gray;
  border-radius: 5px;
  display: inline-block;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 0.2rem;
  padding-left: 0px;
  margin: 0.1rem;
  background: rgb(238, 238, 238);
  background: linear-gradient(180deg, rgb(238, 238, 238) 0%, rgb(204, 204, 204) 100%);
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
}

.btn-stateonly {
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  background: rgb(240, 240, 240);
  background: linear-gradient(0deg, rgb(240, 240, 240) 0%, rgb(249, 249, 249) 15%, rgb(255, 255, 255) 24%, rgb(255, 255, 255) 82%, rgb(222, 222, 222) 100%);
}

.btn-panel {
  padding: 0.2rem;
  margin-top: 0.2rem;
  text-align: right;
  border-top: solid 3px gainsboro;
}

.fld-btn-right {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: solid 1px gray;
  background: rgb(246, 248, 249);
  background: linear-gradient(180deg, rgb(246, 248, 249) 0%, rgb(229, 235, 238) 50%, rgb(215, 222, 227) 51%, rgb(245, 247, 249) 100%);
}

.fld-btn-left {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border: solid 1px gray;
  background: rgb(246, 248, 249);
  background: linear-gradient(180deg, rgb(246, 248, 249) 0%, rgb(229, 235, 238) 50%, rgb(215, 222, 227) 51%, rgb(245, 247, 249) 100%);
}

.btn-toggle:not([disabled]):not(.disabled):hover,
.fld-btn-left:not([disabled]):not(.disabled):hover,
.fld-btn-left:not([disabled]):not(.disabled).hover,
.fld-btn-right:not([disabled]):not(.disabled):hover,
.fld-btn-right:not([disabled]):not(.disabled).hover,
.btn-border:not([disabled]):not(.disabled):hover,
.btn-border:not([disabled]):not(.disabled).hover,
.btn:not([disabled]):not(.disabled):hover,
.btn:not([disabled]):not(.disabled).hover {
  background: #ffaf4b;
  background: linear-gradient(180deg, #ffaf4b, #ff920a);
}

.btn-toggle:not([disabled]):not(.disabled):active,
.btn:not([disabled]):not(.disabled):active,
.fld-btn-left:not([disabled]):not(.disabled):active,
.fld-btn-left:not([disabled]):not(.disabled).active,
.fld-btn-right:not([disabled]):not(.disabled):active,
.fld-btn-right:not([disabled]):not(.disabled).active,
.btn-border:not([disabled]):not(.disabled):active,
.btn-border:not([disabled]):not(.disabled).active,
.btn:not([disabled]):not(.disabled):active,
.btn:not([disabled]):not(.disabled).active {
  color: white;
  background: #159FCF;
  background: linear-gradient(180deg, #159FCF, #13647F);
}

.tab-contents {
  border: solid 1px gray;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab-item {
  border: solid 1px gray;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: white;
}

.dropdown-panel {
  background-color: white;
  border: solid 1px gray;
  box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 3px 3px 3px rgba(127, 127, 127, 0.5);
  border-radius: 5px;
}

.header-background {
  background: rgb(246, 248, 249);
  background: linear-gradient(180deg, rgb(246, 248, 249) 0%, rgb(229, 235, 238) 50%, rgb(215, 222, 227) 51%, rgb(245, 247, 249) 100%);
}

table.optOuter {
  border-radius: 5px;
}

tr.optHeader > td {
  border-bottom: solid 2px black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

table.optBody > tbody > tr > td:last-child,
table.optHeader > tbody > tr > td:last-child {
  border: none;
}

table.optBody td,
table.optHeader td {
  border-right: solid 1px gray;
}

table.crud-table > tbody > tr.selected > td:not(.btn-remove, .btn-edit),
table.optBody > tbody > tr.selected {
  background: #159FCF;
  background: linear-gradient(180deg, #159FCF, #13647F);
  color: white;
}

table.crud-table > tbody > tr:hover > td:not(.btn-remove, .btn-edit),
table.optBody > tbody > tr:hover {
  background: #ffaf4b;
  background: linear-gradient(180deg, #ffaf4b, #ff920a);
  color: white;
}

div.picIndicator {
  display: inline-block;
  border: solid 1px gray;
  background: radial-gradient(ellipse farthest-corner at center, rgb(222, 222, 222) 45%, rgba(0, 33, 0, 0.2) 54%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
  box-shadow: 2px 2px 2px rgba(127, 127, 127, 0.5);
  -webkit-box-shadow: 2px 2px 2px rgba(127, 127, 127, 0.5);
  -moz-box-shadow: 2px 2px 2px rgba(127, 127, 127, 0.5);
  vertical-align: text-top;
  border-radius: 50%;
}

div.picIndicator[data-status=on],
div.picIndicator[data-status=ready],
div.picIndicator[data-status=selected],
div.picIndicator[data-status=true] {
  background: radial-gradient(ellipse farthest-corner at center, rgb(0, 240, 0) 0%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
}

div.picIndicator[data-status=pending], div.piscIndicator[data-status=timeout] {
  background: radial-gradient(ellipse farthest-corner at center, rgb(255, 255, 28) 0%, rgb(204, 201, 73) 85%, rgb(196, 192, 81) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
}

div.picIndicator[data-status=delay] {
  background: radial-gradient(ellipse farthest-corner at center, rgb(255, 255, 28) 0%, rgb(204, 201, 73) 85%, rgb(196, 192, 81) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
  animation: blinker 1s linear infinite;
  -webkit-animation: blinker 1s infinite linear;
}

div.picIndicator[data-status=delayoff] {
  background: radial-gradient(ellipse farthest-corner at center, rgb(0, 240, 0) 0%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
  animation: delayoff 0.5s ease infinite;
  -webkit-animation: delayoff 0.5s infinite ease;
}

div.picIndicator[data-status=delayon] {
  background: radial-gradient(ellipse farthest-corner at center, rgb(255, 255, 28) 0%, rgb(204, 201, 73) 85%, rgb(196, 192, 81) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
  animation: delayon 0.5s ease infinite;
  -webkit-animation: delayon 0.5s infinite ease;
}

@-webkit-keyframes delayoff {
  0% {
    background: radial-gradient(ellipse farthest-corner at center, rgb(0, 240, 0) 0%, rgb(0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
  }
  100% {
    background: radial-gradient(ellipse farthest-corner at center, rgb(222, 222, 222) 45%, rgba(0, 33, 0, 0.2) 54%, rgb(0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
  }
}

@keyframes delayoff {
  0% {
    background: radial-gradient(ellipse farthest-corner at center, rgb(0, 240, 0) 0%, rgb(0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
  }
  100% {
    background: radial-gradient(ellipse farthest-corner at center, rgb(222, 222, 222) 45%, rgba(0, 33, 0, 0.2) 54%, rgb(0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
  }
}
@-webkit-keyframes delayon {
  0% {
    background: radial-gradient(ellipse farthest-corner at center, rgb(255, 255, 28) 0%, rgb(204, 201, 73) 85%, rgb(196, 192, 81) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
  }
  100% {
    background: radial-gradient(ellipse farthest-corner at center, rgb(222, 222, 222) 45%, rgba(0, 33, 0, 0.2) 54%, rgb(0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
  }
}
@keyframes delayon {
  0% {
    background: radial-gradient(ellipse farthest-corner at center, rgb(255, 255, 28) 0%, rgb(204, 201, 73) 85%, rgb(196, 192, 81) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
  }
  100% {
    background: radial-gradient(ellipse farthest-corner at center, rgb(222, 222, 222) 45%, rgba(0, 33, 0, 0.2) 54%, rgb(0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
  }
}
div.picIndicator[data-status=loading] {
  background: radial-gradient(ellipse farthest-corner at center, rgb(252, 255, 84) 0%, rgb(255, 182, 71) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
}

div.picIndicator[data-status=error] {
  background: radial-gradient(ellipse farthest-corner at center, rgb(255, 173, 41) 0%, rgb(255, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="nth(nth($color-stops, 1), 1)", endColorstr="nth(nth($color-stops, 2), 1)", GradientType=1);
}

.btn-toggle.fld-btn-left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.btn-toggle.fld-btn-right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.btn-toggle.fld-btn-center {
  border: solid 1px gray;
  background: rgb(246, 248, 249);
  background: linear-gradient(180deg, rgb(246, 248, 249) 0%, rgb(229, 235, 238) 50%, rgb(215, 222, 227) 51%, rgb(245, 247, 249) 100%);
}

.btn-toggle[data-selected=true] {
  color: white;
  background: #159FCF;
  background: linear-gradient(180deg, #159FCF, #13647F);
}/*# sourceMappingURL=theme.css.map */